
.container{
  background-color: rgba(211, 210, 214, 0.527) !important;
}
.container h3 {
  font-size: 2rem;
  font-family: "Quicksand";
  
}

.container p {
  font-size: 1.5rem;
  font-family: "Quicksand";
}

.container span {
  font-size: 1.5rem;
  font-family: "Quicksand";
}
